In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder

In [ ]:
df = pd.read_csv('kc_house_data.csv')

In [ ]:
df.head()

           id        date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  10/13/2014  221900.0  ... -122.257           1340        5650
1  6414100192   12/9/2014  538000.0  ... -122.319           1690        7639
2  5631500400   2/25/2015  180000.0  ... -122.233           2720        8062
3  2487200875   12/9/2014  604000.0  ... -122.393           1360        5000
4  1954400510   2/18/2015  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

In [ ]:
df.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [ ]:
df.shape

(21597, 21)

In [ ]:
df = df.dropna()

In [ ]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [ ]:
features = ['bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15']

x = df[features]

y = df['price']

In [ ]:
x_train , x_test, y_train, y_test = train_test_split(x, y, test_size=0.15, random_state=0)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
model = LinearRegression()

In [ ]:
model.fit(x_train, y_train)

LinearRegression()

In [ ]:
y_pred = model.predict(x_test)

In [ ]:
y_pred.shape

(3240,)

In [ ]:
y_test.shape

(3240,)

In [ ]:
y_test

156       650000.0
15572     625000.0
2080      822500.0
17522     179900.0
8360      370000.0
           ...
8860      843500.0
10705     555000.0
948      1030000.0
3860      790000.0
3137      178500.0
Name: price, Length: 3240, dtype: float64

In [ ]:
y_pred

array([ 885454.46707337,  652071.16878237,  986540.29048835, ...,
       1063556.27080571,  878961.92477427,  105751.26030953])

In [ ]:
from sklearn import metrics

In [ ]:
print('Mean squared error ' , mean_squared_error(y_test, y_pred))

Mean squared error  32028147661.489616

In [ ]:
print(model.score(x_test, y_test))

0.7010358089243915

In [ ]:
print(metrics.mean_absolute_error(y_test, y_pred))

121470.63993555403

In [ ]:
print(metrics.mean_absolute_percentage_error(y_test, y_pred))

0.2576961609284136

In [ ]:
print(model.coef_)

[-3.56934652e+04  4.09208486e+04  1.14230434e+02  3.70058667e-02
  4.73335169e+03  5.69905883e+05  5.42347914e+04  2.69893968e+04
  9.65611121e+04  7.35945149e+01  4.06359191e+01 -2.62196218e+03
  2.21740127e+01 -5.88468260e+02  6.08045048e+05 -2.18351090e+05
  1.85543548e+01 -3.58720039e-01]

In [ ]:
print(model.predict(np.array([3,1.00,1180,5650,1.0,	0,	0,	3,	7,	1180,	0,	1955,	0,98028,	47.7379,	-122.233,	2720,	8062	]).reshape(1,-1)))

[452172.37455692]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"