In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
df = pd.read_csv('salary.csv')

In [ ]:
df.head(2)

   age  education.num  capital.gain  hours.per.week income
0   90              9             0              40  <=50K
1   82              9             0              18  <=50K

In [ ]:
df.shape

(32561, 5)

In [ ]:
df.isnull().sum()

age               0
education.num     0
capital.gain      0
hours.per.week    0
income            0
dtype: int64

In [ ]:
X = df.iloc[:,:-1]
Y = df.iloc[:,-1]

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

In [ ]:
model = KNeighborsClassifier(n_neighbors=5)

In [ ]:
model.fit(X_train, Y_train)

KNeighborsClassifier()

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
from sklearn import metrics

In [ ]:
metrics.classification_report(Y_test, y_pred)

'              precision    recall  f1-score   support\n\n       <=50K       0.85      0.91      0.88      4966\n        >50K       0.63      0.49      0.55      1547\n\n    accuracy                           0.81      6513\n   macro avg       0.74      0.70      0.72      6513\nweighted avg       0.80      0.81      0.80      6513\n'

In [ ]:
metrics.accuracy_score(Y_test, y_pred)

0.8108398587440504