In [ ]:
import numpy as np
import pandas as pd
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
titanic = pd.read_csv('titanicsurvival.csv')

In [ ]:
titanic.shape

(891, 5)

In [ ]:
titanic.head(2)

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1

In [ ]:
titanic['Sex'] = titanic['Sex'].map({'male':0, 'female':1})

In [ ]:
titanic.head(1)

   Pclass  Sex   Age  Fare  Survived
0       3    0  22.0  7.25         0

In [ ]:
titanic.isnull().sum()

Pclass        0
Sex           0
Age         177
Fare          0
Survived      0
dtype: int64

In [ ]:
titanic['Age'].median()

28.0

In [ ]:
titanic = titanic.fillna(28.0)

In [ ]:
X = titanic.drop(columns='Survived')
Y = titanic['Survived']

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
sc = StandardScaler()

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.25, random_state=0)

In [ ]:
x_train = sc.fit_transform(x_train)

In [ ]:
x_test = sc.transform(x_test)

In [ ]:
model = GaussianNB()

In [ ]:
print(np.any(np.isnan(titanic)) )
print(np.all(np.isfinite(titanic)) )

False
True

In [ ]:
model.fit(x_train, y_train)

GaussianNB()

In [ ]:
y_pred = model.predict(x_test)

In [ ]:
metrics.accuracy_score(y_test, y_pred)

0.7757847533632287

In [ ]:
metrics.confusion_matrix(y_test, y_pred)

array([[110,  29],
       [ 21,  63]])

Without standard scaler

In [ ]:
t = pd.read_csv('titanicsurvival.csv')

In [ ]:
t = t.fillna(28.0)

In [ ]:
t['Sex'] = t['Sex'].map({'male':0,'female':1})

In [ ]:
x = t.drop(columns = 'Survived')
y = t['Survived']

In [ ]:
X_train , X_test , Y_train, Y_test = train_test_split(x, y, test_size= 0.2, random_state=1)

In [ ]:
model1 = GaussianNB()

In [ ]:
model1.fit(X_train, Y_train)

GaussianNB()

In [ ]:
y_pre = model1.predict(X_test)
print(metrics.accuracy_score(Y_test, y_pre))
print(metrics.confusion_matrix(Y_test, y_pre))

0.7653631284916201
[[86 20]
 [22 51]]